@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0B0F;
  --foreground: #F5F5F5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
